= form_for @route do |f|
  - if @route.errors.any?
    #error_explanation
      %h2= "#{pluralize(@route.errors.count, "error")} prohibited this route from being saved:"
      %ul
        - @route.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :numb_of_seats
    = f.number_field :numb_of_seats
  .field
    = f.label :departure
    = f.text_field :departure
  .field
    = f.label :departure_date
    = f.text_field :departure_date
  .field
    = f.label :departure_time
    = f.text_field :departure_time
  .field
    = f.label :arrival
    = f.text_field :arrival
  .field
    = f.label :arrival_date
    = f.text_field :arrival_date
  .field
    = f.label :arrival_time
    = f.text_field :arrival_time
  .field
    = f.label :nonstop
    = f.check_box :nonstop
  .actions
    = f.submit 'Save'
