!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "#{content_for?(:description) ? yield(:description) : 'BusTickets'}", :name => "description"}/
    %title= content_for?(:title) ? yield(:title) : 'BusTickets'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src=> "https://maps.googleapis.com/maps/api/js?key=AIzaSyCAE8sBeoTbCFRTlqrqtS1WwJHDvKIQkco&libraries=places"}
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
